Repository mental32/monty, changes with the labels that .github/labeler.yml gives for each.
All labels: stdlib, documentation, mir, tests, language, typing

.github/labeler.yml:

stdlib:
  - stldib/**/*

documentation:
 - docs/**/*

mir:
  - monty/mir/**/*

tests:
  - tests/**/*

language:
  - monty/language/**/*
  
typing:
  - monty/typing/**/*

typing: Replace `get_id_or_insert` with `insert`
  monty/mir/builder.py
  monty/mir/libc.py
  monty/typing/__init__.py
  monty/typing/type_context.py
  monty/unit.py
Labels: mir, typing

driver: bugfix stdlib resolve path
  .gitignore
  monty/driver.py
Labels: none

typing: Move initial primitive type inserts into `TypeContext`
  monty/typing/type_context.py
  monty/unit.py
Labels: typing

utils: `SSAMap[V].__getitem__` can be used for bi-directional access
  monty/typing/type_context.py
  monty/utils.py
Labels: typing

language: Add `PhantomModule` types
  monty/language/item.py
  monty/language/module.py
  monty/mir/libc.py
  monty/unit.py
Labels: mir, language

mir: Accept all number-like types for binops
  monty/mir/builder.py
Labels: mir

utils: Document `SSAMap[T]`
  monty/utils.py
Labels: none

utils: Add `StrictASTVisitor` helper mixin
  monty/language/scope.py
  monty/utils.py
Labels: language

typing: Overhaul `typing.Primitive` and friends.
  monty/driver.py
  monty/language/func.py
  monty/language/import_decl.py
  monty/language/item.py
  monty/language/module.py
  monty/language/scope.py
  monty/mir/builder.py
  monty/mir/libc.py
  monty/typing/compound.py
  monty/typing/primitives.py
  monty/typing/type_context.py
  monty/typing/type_info.py
  monty/unit.py
Labels: mir, language, typing

language: Notice that docstrings do exist.
  monty/driver.py
  monty/language/func.py
  monty/unit.py
Labels: language

typing: Move typechecking logic to `TypeContext.typecheck`
  monty/typing/__init__.py
  monty/typing/type_context.py
  monty/unit.py
Labels: typing

typing: Get a start on type inference
  monty/typing/type_context.py
Labels: typing

Start again!
  README.md
  docs/book/book.toml
  docs/book/src/SUMMARY.md
  docs/book/src/compiler_overview.md
  docs/book/src/introduction.md
  docs/sphinx/Makefile
  docs/sphinx/make.bat
  docs/sphinx/source/conf.py
  docs/sphinx/source/index.rst
  examples/hello_world.py
  examples/iter_fib.py
  monty/__init__.py
  monty/diagnostic.py
  monty/driver.py
  monty/errors.py
  monty/ext/miri/__main__.py
  monty/language/__init__.py
  monty/language/func.py
  monty/language/import_decl.py
  monty/language/item.py
  monty/language/module.py
  monty/language/scope.py
  monty/mir/__init__.py
  monty/mir/builder.py
  monty/mir/ebb.py
  monty/mir/instr.py
  monty/mir/libc.py
  monty/typing/__init__.py
  monty/typing/compound.py
  monty/typing/primitives.py
  monty/typing/type_context.py
  monty/typing/type_info.py
  monty/unit.py
  monty/utils.py
  pyproject.toml
  stdlib/_sys/__init__.py
  stdlib/builtins/__init__.py
  stdlib/importlib/__init__.py
  tests/test_import.py
  tests/test_simple_types.py
Labels: documentation, mir, tests, language, typing

Reinstate the README
  README.md
  pyproject.toml
Labels: none

Add initial source implementation
  monty.py
  pyproject.toml
Labels: none

refactor it a little bit
  monty.py
Labels: none

Wow we sure did a lot of work today
  monty.py
Labels: none

lower python version requirement
  pyproject.toml
Labels: none

comptime and some refactoring
  monty.py
Labels: none

lots o' bugfix
  monty.py
Labels: none

more bugfixes and kinda figure out infix operators
  monty.py
Labels: none

Finish MVP support for `BinOp`s and more bugfixes
  monty.py
Labels: none

Add back import mechanism
  foo.py
  monty.py
Labels: none

support attribute access and bugfixes
  foo.py
  monty.py
  std/__init__.py
  std/builtins.py
Labels: none

Inline `NodeEntry` into `Item`
  monty.py
Labels: none

Refactor inference logic out with singledispatch
  monty.py
Labels: none

Refactor out typechecking logic to match inference logic
  monty.py
Labels: none

Add partial support for comptime decorators and namespace-like classes
  monty.py
  std/builtins.py
Labels: none

Refactor out state into `Context` object.
  monty.py
Labels: none

Automatically implement builtin type methods on concrete binding
  monty.py
Labels: none

Support infer + tychk for ast.Compare nodes
  monty.py
Labels: none

Poorly re-implement MIR lowering
  monty.py
Labels: none

typeck func arguments and work on const-friendly ifstmt.
  monty.py
Labels: none

Add initial tests.
  tests/source_files/empty_file.py
  tests/source_files/funcdef.py
  tests/source_files/ifstmt.py
  tests/source_files/only_constants.py
  tests/test_various.py
Labels: tests

Blow up `monty.py` into multiple files
  monty.py
  monty/__init__.py
  monty/__main__.py
  monty/context.py
  monty/driver.py
  monty/item.py
  monty/mirgen.py
  monty/ty/__init__.py
  monty/ty/tychk.py
  monty/utils.py
Labels: none

Update Python action
  .github/workflows/python-package.yml
Labels: none

Move things around a bit more
  monty/__init__.py
  monty/context.py
  monty/driver.py
  monty/item.py
  monty/mirgen.py
  monty/ty/__init__.py
  monty/ty/tychk.py
  monty/utils.py
  std/builtins.py
Labels: none

Add bool and float to builtins
  std/builtins.py
Labels: none

Add REPL (kinda) and accept source file path through args
  monty/__main__.py
  monty/driver.py
Labels: none

Extract docstrings from functiondefs
  monty/driver.py
Labels: none
