Repository mental32/monty, changes with the labels that .github/labeler.yml gives for each.
All labels: stdlib, documentation, mir, tests, language, typing

.github/labeler.yml:

stdlib:
  - stldib/**/*

documentation:
 - docs/**/*

mir:
  - monty/mir/**/*

tests:
  - tests/**/*

language:
  - monty/language/**/*
  
typing:
  - monty/typing/**/*

Eagerly resolve TypeRefs for function return annotations
  monty/driver.py
  monty/ty/__init__.py
Labels: none

Move out comptime logic
  monty/comptime.py
  monty/driver.py
Labels: none

Decompose `mirgen.py` into `mir` module
  monty/__init__.py
  monty/mir/__init__.py
  monty/mir/ebb.py
Labels: mir

Implicitly check builtin types for scope lookup failure
  monty/item.py
  monty/ty/__init__.py
  monty/utils.py
Labels: none

rewrite: initial commit (RIIR)
  .gitignore
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  README.md
  libstd/builtins.py
  monty/__init__.py
  monty/__main__.py
  monty/comptime.py
  monty/context.py
  monty/driver.py
  monty/item.py
  monty/mir/__init__.py
  monty/mir/ebb.py
  monty/ty/__init__.py
  monty/ty/tychk.py
  monty/utils.py
  montyc/Cargo.lock
  montyc/Cargo.toml
  montyc/src/lib.rs
  montyc/src/parser/ast.rs
  montyc/src/parser/comb.rs
  montyc/src/parser/comb/test.rs
  montyc/src/parser/mod.rs
  montyc/src/parser/span_ref.rs
  montyc/src/parser/token.rs
  pyproject.toml
  std/builtins.py
  tests/source_files/empty_file.py
  tests/source_files/funcdef.py
  tests/source_files/ifstmt.py
  tests/source_files/only_constants.py
  tests/test_various.py
Labels: mir, tests

refactor(parser): parse fndefs properly and other general improvements
  Cargo.lock
  libstd/example.py
  montyc/Cargo.toml
  montyc/src/lib.rs
  montyc/src/main.rs
  montyc/src/parser/ast.rs
  montyc/src/parser/comb.rs
  montyc/src/parser/comb/test.rs
  montyc/src/parser/mod.rs
  montyc/src/parser/token.rs
Labels: none

refactor(parser): clean up and add `resolve_ref`
  montyc/src/parser/ast.rs
  montyc/src/parser/comb.rs
  montyc/src/parser/mod.rs
  montyc/src/parser/span_ref.rs
Labels: none

blah: its all garbage but now its more capable
  Cargo.lock
  montyc/Cargo.lock
  montyc/Cargo.toml
  montyc/src/ast/assign.rs
  montyc/src/ast/atom.rs
  montyc/src/ast/expr.rs
  montyc/src/ast/funcdef.rs
  montyc/src/ast/ifelif.rs
  montyc/src/ast/mod.rs
  montyc/src/ast/module.rs
  montyc/src/ast/primary.rs
  montyc/src/ast/retrn.rs
  montyc/src/ast/stmt.rs
  montyc/src/context.rs
  montyc/src/func.rs
  montyc/src/lib.rs
  montyc/src/main.rs
  montyc/src/parser/ast.rs
  montyc/src/parser/comb.rs
  montyc/src/parser/comb/assign.rs
  montyc/src/parser/comb/atom.rs
  montyc/src/parser/comb/block.rs
  montyc/src/parser/comb/core.rs
  montyc/src/parser/comb/expr.rs
  montyc/src/parser/comb/funcdef.rs
  montyc/src/parser/comb/ifelse.rs
  montyc/src/parser/comb/mod.rs
  montyc/src/parser/comb/primary.rs
  montyc/src/parser/comb/stmt.rs
  montyc/src/parser/comb/test.rs
  montyc/src/parser/mod.rs
  montyc/src/parser/token.rs
  montyc/src/scope.rs
  montyc/src/typing.rs
Labels: none

blah: parsing imports and classdefs
  Cargo.lock
  montyc/Cargo.toml
  montyc/src/ast/atom.rs
  montyc/src/ast/class.rs
  montyc/src/ast/expr.rs
  montyc/src/ast/funcdef.rs
  montyc/src/ast/import.rs
  montyc/src/ast/mod.rs
  montyc/src/ast/primary.rs
  montyc/src/ast/stmt.rs
  montyc/src/context.rs
  montyc/src/func.rs
  montyc/src/lib.rs
  montyc/src/main.rs
  montyc/src/parser/comb/class.rs
  montyc/src/parser/comb/funcdef.rs
  montyc/src/parser/comb/import.rs
  montyc/src/parser/comb/mod.rs
  montyc/src/parser/comb/primary.rs
  montyc/src/parser/comb/stmt.rs
  montyc/src/parser/token.rs
  montyc/src/scope.rs
  montyc/src/typing.rs
Labels: none

fix(parser): bad span_ref ranges and modules contain multiple things
  montyc/src/ast/mod.rs
  montyc/src/ast/module.rs
  montyc/src/parser/comb/class.rs
  montyc/src/parser/comb/funcdef.rs
  montyc/src/parser/comb/mod.rs
  montyc/src/parser/mod.rs
  montyc/src/scope.rs
Labels: none

fix(parser): correct string literal regex's
  montyc/src/parser/mod.rs
Labels: none

fix(parser): `parser::comb::chomp` should not discard span_refs
  montyc/src/parser/comb/class.rs
  montyc/src/parser/comb/mod.rs
Labels: none

fix(parser): correct ClassDef span end
  montyc/src/parser/comb/class.rs
Labels: none

refactor: add logging, move startup logic, preload libstd/builtins
  Cargo.lock
  montyc/Cargo.toml
  montyc/src/ast/mod.rs
  montyc/src/context.rs
  montyc/src/lib.rs
  montyc/src/main.rs
Labels: none

feat(import): add `Import::decls` in preparation for import-logic
  montyc/src/ast/import.rs
Labels: none

feat(primary): add `Primary::components`
  montyc/src/ast/primary.rs
Labels: none

chore: did not realise I deleted the readme
  README.md
Labels: none

feat: re-implement basic importing mechanism
  montyc/src/context.rs
  montyc/src/lib.rs
Labels: none

chore: restructure, refactor, re-awesome-ize
  Cargo.lock
  libstd/builtins.py
  montyc/Cargo.toml
  montyc/src/ast/assign.rs
  montyc/src/ast/atom.rs
  montyc/src/ast/class.rs
  montyc/src/ast/expr.rs
  montyc/src/ast/funcdef.rs
  montyc/src/ast/import.rs
  montyc/src/ast/mod.rs
  montyc/src/ast/module.rs
  montyc/src/ast/primary.rs
  montyc/src/ast/retrn.rs
  montyc/src/ast/stmt.rs
  montyc/src/class.rs
  montyc/src/context.rs
  montyc/src/func.rs
  montyc/src/lib.rs
  montyc/src/main.rs
  montyc/src/parser/mod.rs
  montyc/src/parser/token.rs
  montyc/src/scope.rs
Labels: none

format: `cargo fmt` / `cargo fix`
  montyc/src/ast/assign.rs
  montyc/src/ast/expr.rs
  montyc/src/ast/funcdef.rs
  montyc/src/ast/ifelif.rs
  montyc/src/ast/import.rs
  montyc/src/ast/module.rs
  montyc/src/ast/retrn.rs
  montyc/src/ast/stmt.rs
  montyc/src/class.rs
  montyc/src/func.rs
  montyc/src/lib.rs
  montyc/src/parser/comb/assign.rs
  montyc/src/parser/comb/atom.rs
  montyc/src/parser/comb/block.rs
  montyc/src/parser/comb/class.rs
  montyc/src/parser/comb/core.rs
  montyc/src/parser/comb/expr.rs
  montyc/src/parser/comb/funcdef.rs
  montyc/src/parser/comb/ifelse.rs
  montyc/src/parser/comb/import.rs
  montyc/src/parser/comb/mod.rs
  montyc/src/parser/comb/primary.rs
  montyc/src/parser/comb/stmt.rs
  montyc/src/parser/comb/test.rs
  montyc/src/parser/mod.rs
  montyc/src/parser/token.rs
  montyc/src/scope.rs
  montyc/src/typing.rs
Labels: none

fix(errors): add `MissingReturn` error variant with codespan
  libstd/builtins.py
  libstd/example.py
  montyc/src/ast/atom.rs
  montyc/src/ast/class.rs
  montyc/src/ast/funcdef.rs
  montyc/src/ast/stmt.rs
  montyc/src/context.rs
  montyc/src/func.rs
  montyc/src/lib.rs
  montyc/src/main.rs
  montyc/src/scope.rs
Labels: none

fix(expr): expressions do not have lookup semantics
  montyc/src/ast/expr.rs
Labels: none

refactor(SpanRef): disambiguate between comments and strings for SpanRef
  montyc/src/ast/atom.rs
  montyc/src/ast/mod.rs
  montyc/src/parser/comb/mod.rs
  montyc/src/parser/comb/stmt.rs
  montyc/src/parser/comb/test.rs
  montyc/src/parser/mod.rs
  montyc/src/parser/token.rs
Labels: none

feat: add `InternalResolver` type for arbitrary name/span lookup
  montyc/src/ast/funcdef.rs
  montyc/src/context.rs
  montyc/src/typing.rs
Labels: none

feat: implement `Display` for type structures
  montyc/src/typing.rs
Labels: none

feat(scope): `scope::lookup_any` will now recursively check parents
  montyc/src/ast/funcdef.rs
  montyc/src/ast/retrn.rs
  montyc/src/context.rs
  montyc/src/func.rs
  montyc/src/scope.rs
Labels: none

fix(errors): improve `BadReturnType` codespan
  libstd/example.py
  montyc/src/ast/retrn.rs
  montyc/src/func.rs
  montyc/src/lib.rs
Labels: none

format: `cargo fmt` / `cargo fix`
  montyc/src/ast/class.rs
  montyc/src/ast/funcdef.rs
  montyc/src/ast/retrn.rs
  montyc/src/context.rs
  montyc/src/func.rs
  montyc/src/lib.rs
  montyc/src/parser/comb/stmt.rs
  montyc/src/parser/comb/test.rs
  montyc/src/parser/token.rs
  montyc/src/scope.rs
  montyc/src/typing.rs
Labels: none

fix(parser): add support for call args and strings as expressions
  examples/hello_world.py
  libstd/example.py
  montyc/src/ast/primary.rs
  montyc/src/parser/comb/atom.rs
  montyc/src/parser/comb/primary.rs
  montyc/src/parser/comb/stmt.rs
  montyc/src/parser/mod.rs
Labels: none

fix: remove implicit transparency on ast nodes
  montyc/src/ast/expr.rs
  montyc/src/ast/import.rs
  montyc/src/ast/mod.rs
  montyc/src/ast/primary.rs
  montyc/src/ast/stmt.rs
  montyc/src/parser/comb/class.rs
  montyc/src/parser/comb/expr.rs
  montyc/src/parser/comb/funcdef.rs
  montyc/src/parser/comb/import.rs
  montyc/src/parser/comb/mod.rs
  montyc/src/parser/comb/primary.rs
  montyc/src/parser/comb/stmt.rs
Labels: none

fix(scope): avoid enumerating import subnodes
  montyc/src/scope.rs
Labels: none

feat(errors): add `UnknownType` and `UndefinedVariable` error variants
  montyc/src/ast/atom.rs
  montyc/src/ast/funcdef.rs
  montyc/src/ast/retrn.rs
  montyc/src/lib.rs
Labels: none

fix: typecheck `Atom::Name` and handle non-defining-lookup results
  montyc/src/ast/atom.rs
Labels: none

fix: consider arugments in scope lookups
  examples/hello_world.py
  montyc/src/ast/atom.rs
  montyc/src/ast/funcdef.rs
  montyc/src/ast/retrn.rs
  montyc/src/func.rs
  montyc/src/lib.rs
  montyc/src/scope.rs
Labels: none

feat: assignments can now store expressions
  Cargo.lock
  examples/hello_world.py
  montyc/src/ast/assign.rs
  montyc/src/ast/atom.rs
  montyc/src/context.rs
  montyc/src/lib.rs
  montyc/src/parser/comb/assign.rs
  montyc/src/parser/comb/stmt.rs
  montyc/src/scope.rs
Labels: none

refactor: take LocalContext by ref when typechecking
  montyc/src/ast/assign.rs
  montyc/src/ast/atom.rs
  montyc/src/ast/class.rs
  montyc/src/ast/expr.rs
  montyc/src/ast/funcdef.rs
  montyc/src/ast/import.rs
  montyc/src/ast/mod.rs
  montyc/src/ast/module.rs
  montyc/src/ast/retrn.rs
  montyc/src/ast/stmt.rs
  montyc/src/class.rs
  montyc/src/context.rs
  montyc/src/func.rs
  montyc/src/main.rs
  montyc/src/scope.rs
  montyc/src/typing.rs
Labels: none

feat: inference + typechecking for call expressions
  montyc/src/ast/primary.rs
  montyc/src/context.rs
  montyc/src/lib.rs
  montyc/src/parser/comb/primary.rs
  montyc/src/scope.rs
  montyc/src/typing.rs
Labels: none

feat: improve class support and infra for builtin properties
  magic.py
  montyc/src/ast/class.rs
  montyc/src/ast/funcdef.rs
  montyc/src/class.rs
  montyc/src/context.rs
  montyc/src/magical_names.py
  montyc/src/parser/comb/funcdef.rs
  montyc/src/parser/comb/mod.rs
  montyc/src/typing.rs
Labels: none

feat: support binary expressions
  examples/hello_world.py
  montyc/src/ast/assign.rs
  montyc/src/ast/expr.rs
  montyc/src/context.rs
  montyc/src/lib.rs
  montyc/src/parser/mod.rs
  montyc/src/scope.rs
  montyc/src/typing.rs
Labels: none

refactor: blow up context module
  montyc/src/context/global.rs
  montyc/src/context/local.rs
  montyc/src/context/mod.rs
  montyc/src/context/module.rs
  montyc/src/context/resolver.rs
  montyc/src/typing.rs
Labels: none
